fastapi==0.65.2
# ASGI server
uvicorn==0.13.3
# Streaming multipart parser
python-multipart==0.0.7
SQLAlchemy==1.3.22
# MySQL driver
PyMySQL==1.1.1
# HTTP library
requests==2.31.0
# HTTP library
urllib3==1.26.5
